* {
  background-color: rgb(255, 255, 255);
}
h1,
h2 {
  font-family: Lato;
}
.gallery {
  aspect-ratio: 1;

  background-size: cover;
  background-position: center;
  transition: 1500ms;
  border-style: solid;
  border-color: white;
}
.gallery:hover {
  opacity: 0.5;

  transition: 500ms;
}
.light {
  opacity: 0.7;
}
.link {
  height: 100%;
  width: 100%;
  opacity: 0;
}
.popup-image {
  display: none;

  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  object-fit: contain;
}
.popup-image-active {
  transition: 300ms;
  display: block;

}
.popup-image-inactive {
  transition: 300ms;
  display:none;

}
.popup-image img {
  box-shadow: 10px 10px 50px rgb(97, 97, 97);
  border-radius: 5px;
  position: absolute;
  border: 1rem solid;
  border-color: white;
  max-width: 90%;
  max-height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.next-icon, .prev-icon,.close-icon{
  width:50px;
  height:50px;

  border-radius: 50%;
  position: absolute;
  background-size:30%;
background-repeat: no-repeat;
background-position: center;
opacity: 0.5;
transition: opacity 300ms;
}
.next-icon:hover, .prev-icon:hover,.close-icon:hover {
opacity:1;
transition: opacity 300ms;
}
.next-icon{
  top:50%;
  transform: translateY(-50%);
right: 40px;
background-image: url(../img/icons/next.svg);

}
.prev-icon{
  top:50%;
  transform: translateY(-50%);
left: 25px; 
background-image: url(../img/icons/prev.svg);
}
.close-icon{
  bottom:1px;
  left:50%;
  transform: translateX(-50%);
  background-image: url(../img/icons/close.svg);
}
.next-icon img{
scale:2;
}

@media (max-width:576px){
  .gallery:hover{
    opacity:1;
  }
}